<% unless book_details.blank? %>
  <% book_details.each do |book_detail| %>
    <tr>
      <td><%= book_detail.title %></td>
      <td class="center"><%= book_detail.author %></td>
      <td class="center">
        <%= image_tag(book_detail.image_link, :style => 'height: 38px;') if book_detail.image_link.present? %>
        <%= image_tag(book_detail.avatar_url(:thumb), :style => 'height: 38px;') if book_detail.avatar? %>
      </td>
      <td class="center"><%= book_detail.isbn_number %></td>
      <td class="center"><%= book_detail.price %></td>
      <td class="center">
        <a class="btn btn-success" href="<%= user_book_detail_path(book_detail) %>">
          <i class="icon-zoom-in "></i>                                            
        </a>
        <a class="btn btn-info" href="<%= edit_user_book_detail_path(book_detail) %>">
          <i class="icon-edit "></i>                                            
        </a>
        <%= link_to '<i class="icon-trash "></i>'.html_safe, user_book_detail_path(book_detail), method: :delete, 
          :class=>"btn btn-danger",
          :confirm => 'Are you sure do you want to delete this book_detail?',
          "original-title" => "delete your book_detail" %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="3" class="row_font_color"><h4>There is no book_details found!</h4></td>
  </tr>
<% end %>
