<div class="control-group">
  <label class="control-label">File upload (Logo) </label>
  <div class="controls">
    <%= image_tag(@book_detail.avatar_url(:small_thumb)) if @book_detail.avatar? %>
    <%= f.file_field :avatar %>
    <i class="icon-question-sign tipsy-tooltip" original-title="Size should be 640hx300w"> </i>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, :placeholder => "Title"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.text_area :description, :rows =>'5', :placeholder => "Description"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Author</label>
  <div class="controls">
    <%= f.text_field :author, :rows =>'5', :placeholder => "Auther"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">ISBN</label>
  <div class="controls">
    <%= f.text_field :isbn_number, :rows =>'5', :placeholder => "ISBN number"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Price</label>
  <div class="controls">
    <%= f.text_field :price, :rows =>'5', :placeholder => "Value"%>
  </div>
</div>

<div class="form-actions">
  <%= f.submit @book_detail.new_record? ? "Submit" : "Update", :class=>"btn btn-primary offset4" %>
</div>
