<div id="content-header">
  <h1>Book Detail</h1>
</div>
<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN number</th>
      <div class="widget-box">
      <th>Price</th>
      <th>User Name</th>
      <th>Book Image</th>
      <th>Action</th>
      <th></th>
    </tr>

    <% @book_details.each do |book_detail| %>
      <tr>
        <td><%= book_detail.title %></td>
        <td><%= book_detail.author %></td>
        <td><%= book_detail.isbn_number %></td>
        <td><%= book_detail.price %></td>
        <td><%= book_detail.user.full_name %></td>
        <td><%= image_tag(book_detail.avatar_url(:small_thumb)) %></td>
        <td><%= link_to 'Show', book_detail %></td>
        <td><%= link_to 'Edit', edit_book_detail_path(book_detail) %></td>
        <td><%= link_to 'Destroy', book_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end if @book_details.present? %>
  </table>
  <%= will_paginate @book_details, renderer: BootstrapPagination::Rails %>
  <br />
  <%= link_to 'New Book detail', new_book_detail_path %>
</div>  