<div class="row-fluid">
  <div ondesktop="span8" ontablet="span12" class="box span10" style="margin-left: 110px;">
    <div class="box-header">
      <h2><strong>Title: <%= @book_detail.title %></strong></h2>
    </div>
    <div class="box-content">    
      <div  class="span12 offset1" id="stats-chart2">
        <%= render :partial => 'user/book_details/book_detail' %>
        <div class="widget-content">
          <div class='span10'>
            <div class="form-actions" style="text-align: center;">
              <% if @book_detail.status? %>
                <%= link_to "Sold", "javascript:void(0);", :class => 'btn btn-success' %>
              <% else %>
                <%= link_to "Buy Now", buy_book_public_book_detail_path, :class => 'btn btn-primary', :method => :post %>
              <% end %>  
              <%= link_to 'Back', public_book_details_path , :class => 'btn btn-inverse' %>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>
