<!-- start: Content -->
<div id="content" class="span10">
  <div class="row-fluid">
    <div class="box span12">
      <div class="box-header">
        <h2><i class="icon-font"></i><span class="break"></span><%= @book_detail.title %></h2>
      </div>
      <div class="box-content">
        <div class="page-header">
          <h1><small>Please review the book details</small></h1>
        </div>     
        <div class="row-fluid">            
          <%= render :partial => 'user/book_details/book_detail' %>
          <div class="form-actions">
            <% if @book_detail.status? %>
              <%= link_to "Sold", "javascript:void(0);", :class => 'btn btn-success' %>
            <% else %>
              <%= link_to "Buy Now", buy_book_public_book_detail_path, :class => 'btn btn-primary', :method => :post %>
            <% end %>  
            <%= link_to 'Back', user_dashboard_index_path , :class => 'btn btn-inverse' %>
          </div>
        </div>
      </div>
    </div>
  </div><!--/row-->      
</div>
<!-- end: Content -->
