<!-- start: Header -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>   
      <div class="row-fluid">
        <a class="brand span2" href="<%= root_url %>"><span>LaccHub</span></a>
      </div>    
      <!-- start: Header Menu -->
      <div class="nav-no-collapse header-nav">
        <ul class="nav pull-right">
          <li class="dropdown hidden-phone">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-warning-sign"></i>
            </a>
            <ul class="dropdown-menu notifications">
              <li class="dropdown-menu-title">
                <span>You have 1 notifications</span>
              </li> 
              <li class="warning">
                <a href="#">
                  <span class="icon red"><i class="icon-user"></i></span>
                  <span class="message">User deleted account</span>
                  <span class="time">2 hour</span> 
                </a>
              </li>
              <li class="dropdown-menu-sub-footer">
                <a>View all notifications</a>
              </li> 
            </ul>
          </li>
          <!-- start: User Dropdown -->
          <li class="dropdown">
            <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
              <div class="avatar"><%= image_tag(current_user.profile_icon) %></div>
              <div class="user">
                <span class="hello">Welcome!</span>
                <span class="name"><%= current_user.full_name if current_user.present? %></span>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-title">
              </li>
              <li><a href="<%= user_profile_path %>"><i class="icon-user"></i> Profile</a></li>
              <li><a href="<%= edit_user_registration_path %>"><i class="icon-cog"></i> Settings</a></li>
              <li><%= link_to '<i class="icon-off"></i><span class="text"> Logout</span>'.html_safe, destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
          <!-- end: User Dropdown -->
        </ul>
      </div>
      <!-- end: Header Menu -->
    </div>
  </div>
</div>
<!-- start: Header -->
