<!-- start: Header -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>   
      <div class="row-fluid">
        <a class="brand span2" href="<%= root_url %>"><span>LaccHub</span></a>
      </div>    
      <!-- start: Header Menu -->
      <div class="nav-no-collapse header-nav">
        <ul class="nav pull-right">
          <li class="dropdown hidden-phone">
            <li><a class="btn dropdown-toggle", href="<%= user_profile_path %>"><i class="icon-user"></i> Profile</a></li>
          </li>
          <li class="dropdown hidden-phone">
            <li><a class="btn dropdown-toggle", href="<%= edit_user_registration_path %>"><i class="icon-cog"></i> Setting</a></li>
          </li>
          <!-- start: User Dropdown -->
          <li class="dropdown">
            <a class="btn account dropdown-toggle" href="#">
              <div class="avatar"><%= image_tag(current_user.profile_icon) %></div>
              <div class="user">
                <span class="hello">
                  <%= link_to 'Welcome!', destroy_user_session_path, :method => "delete", :class=>'delete_class' %>
                </span>
                <span class="name">
                  <% user_name = current_user.full_name if current_user.present?%>
                  <%= link_to user_name, destroy_user_session_path, :method => "delete" %>
                </span>
              </div>
            </a>
          </li>
          <!-- end: User Dropdown -->
        </ul>
      </div>
      <!-- end: Header Menu -->
    </div>
  </div>
</div>
<!-- start: Header -->
<style>
  .navbar-inner a {
    color: white;
    text-decoration: none;
    line-height: 22px;
  }
  .avatar{
     margin-top: -14px;
     cursor:default;
  }
</style>
