<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="<%= user_dashboard_index_path %>"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Find Book</span></a></li> 
      <li><a href="<%= new_user_book_detail_path %>"><i class="icon-folder-open"></i><span class="hidden-tablet"> Create Book</span></a></li> 
      <li><a href="<%= user_book_details_path %>"><i class="icon-reorder"></i><span class="hidden-tablet"> My Books</span></a></li> 
      <li><a href="<%= new_user_notify_path %>"><i class="icon-eye-open"></i><span class="hidden-tablet"> Notify</span></a></li>
      <li><a href="<%= user_notifies_path %>"><i class="icon-reorder"></i><span class="hidden-tablet"> My Notify</span></a></li>
      <li><a href="<%= cart_user_dashboard_index_path %>"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Cart</span></a></li> 
    </ul>
  </div>
</div>
<!-- end: Main Menu -->
